/* Design Systems

Fonts:
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif;

- FONT SIZES SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ------------------- */
/*     Global  Reset         */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Reset Font Weights */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #111111;
}

/* ********************** */
/* Header */
/* ********************** */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 1.2rem 0 1.2rem;
}

.logo {
  width: 12.4rem;
  margin-right: 2.4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;

  display: flex;
  gap: 6.4rem;
}

.nav-list a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.25s;
}

.nav-list a:hover {
  color: #c91b28;
}

.hero-section {
  display: flex;
}

.hero-img {
  display: inline-block;
  width: 83%;
}

.hero-left-section {
  display: flex;
  justify-content: center;
  width: 60%;
}

.hero-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  font-size: 2.4rem;
  font-weight: 600;
  color: #bb2935;
}

.heading-name {
  font-size: 5.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.hero-description {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.596);
  width: 45%;
  margin-bottom: 4.6rem;
}

.hero-btn-div a {
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #bb2935;
  transition: all 0.25s;
}

.hero-btn-div a:hover {
  background-color: #bb29358a;
}

/* ********************** */
/* Feature Section */
/* ********************** */

.feature-section {
  background-color: #1e1e1e49;
  height: 100%;
  background: linear-gradient(90deg, #1e1e1e49 50%, #111111 50%);
  padding: 7rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature-container {
  max-width: 100rem;
  margin: 0 auto;
  color: #fbfbfb;
  /* margin-top: 2rem; */
}

.feature-section img {
  width: 25%;
}

.feature-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.8rem;

  padding: 0 1.2rem 0 1.2rem;
}

.card {
  padding: 1.8rem 1.8rem 1.8rem 5.6rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2.4rem;
  background-color: #1e1e1e;
}

.active-card {
  background-color: #c91b28;
}

.card-heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.card-description {
  font-size: 1.6rem;
  width: 70%;
}

.card-link a {
  color: #f43242;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.active-card .card-link a {
  color: #fff;
  font-weight: 500;
}

.feature-statistics {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.9rem;

  margin-top: 9.6rem;
  padding: 0 1.2rem 0 1.2rem;
}

.statistics-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}

.years-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-of-years {
  font-size: 6.4rem;
  font-weight: 800;
  color: #c91b28;
}

.year-text {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.statistics-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;

  background-color: #1e1e1e;
}

.statistics-number {
  font-size: 3.2rem;
  font-weight: 600;
  color: #c91b28;
}

.statistics-text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.596);
}

/* ********************** */
/* Featured Projects Section */
/* ********************** */

.featured-projects-section {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.8rem 0 1.8rem;
}

.featured-projects-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  margin-bottom: 2.4rem;
  padding: 0 1.2rem 0 1.2rem;
}

.featured-projects-text h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.featured-projects-text p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.589);
  margin-top: 1.2rem;
}

.view-all-btn-div a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  background-color: #f43242;
  padding: 1rem 2.8rem;
  transition: all 0.35s;
}

.view-all-btn-div a:hover {
  background-color: #f4324294;
}

.featured-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.featured-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.project-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 30rem;
  max-width: 43.5rem;
}

.featured-projects-section .img-div img {
  width: 90%;
  object-fit: contain;
  transition: all 0.35s;
  /* max-height: 27.5rem; */
  /* display: block; */
}

.featured-projects-section .img-div img:hover {
  transform: scale(1.1);
}

.know-more-btn a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f43242;
}

/* ********************** */
/* call to action Section */
/* ********************** */

.cta-section {
  max-width: 110rem;
  margin: 0 auto;
  background-color: #1e1e1e;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 6.4rem;
  margin-top: 9.6rem;
  margin-bottom: 3.2rem;
}

.cta-description {
  width: 60%;
}

.cta-heading {
  font-size: 4.6rem;
  font-weight: 700;
  color: #fff;
  width: 90%;
}

.cta-text {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.61);
  margin-top: 2.4rem;
}

.contact-btn-div a {
  text-decoration: none;
  color: #fff;
  background-color: #f43242;
  padding: 1.2rem 3.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.35s;
}

.contact-btn-div a:hover {
  background-color: rgba(244, 50, 66, 0.568);
}

/* ********************** */
/* Footer Section */
/* ********************** */

footer {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 3.2rem;
}

.footer-logo {
  max-width: 12.4rem;
}

.social-icons-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2.4rem;
}

.social-icons-img {
  width: 25px;
  height: 25px;
  color: #fff;
  transition: all 0.35s;
}

.social-icons-img:hover {
  cursor: pointer;
  color: #c91b28;
}

/* ************************** */
/* Media Queries */
/* ************************** */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 78em) {
  .feature-cards {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .feature-statistics {
    grid-template-columns: 1fr;
  }
  .featured-projects-heading {
    flex-direction: column;
  }
  .featured-projects-text {
    text-align: center;
  }
  .view-all-btn-div {
    margin-top: 2.4rem;
  }
  .years-experience {
    margin-bottom: 3.2rem;
  }

  .featured-projects {
    grid-template-columns: 1fr;
  }
  .featured-project {
    align-items: center;
  }
}

/**************************/
/* BELOW 900px  */
/**************************/
@media (max-width: 56em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .cta-section {
    flex-direction: column;
    text-align: center;
  }

  .cta-heading {
    margin-right: 0 !important;
    text-align: center;
  }

  .contact-btn-div {
    padding-top: 6.4rem;
  }
}

/**************************/
/* BELOW 700px  */
/**************************/
@media (max-width: 43em) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-right-section {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    align-items: center;
  }
}

/**************************/
/* BELOW 550px  */
/**************************/
@media (max-width: 35em) {
  html {
    /* 7px / 16px = 0.5 = 50% */
    font-size: 43%;
  }
  .nav-list {
    display: none;
  }

  .hero-description {
    text-align: center;
  }
}
